#idletimeout {
    background: #CC5100;
    border: 3px solid #FF6500;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    position: fixed;
    display: none;
}
#idletimeout a {
    color: #fff;
    font-weight: bold
}
#idletimeout span {
    font-weight: bold
}